body {
  font-size: 24px;
}

h2{
  letter-spacing: 0.15em;
  text-shadow: 1px 1px 0px #000;
}

.navbar, .navbar-default, .navbar-fixed-top{
  height: 67px;
}

.navbar-brand{
  margin-top: 10px;
  font-size: 40px;
}

footer {
  border-top: 1px solid#e7e7e7;
  background-color: #f8f8f8;
  text-align: center;
}

.copyright {
  padding: 20px 0;
  font-size: 12px;
  color: #666;
}

#profile{
  color: #48f;
  text-align: center;
  margin-top:-67px;
  padding-top:67px;
}

#profile .spacer{
  height: 60px;
}

#myphoto {
  max-width: 120px;
  border: 5px double #48f;
  border-radius: 100%;
}

#profile p, li{
  text-align: left;
  margin: 5px 13px;
}

#profile .programing-lang-icon {
  height: 24px;
}

#applications{
  margin-top:-67px;
  padding-top:67px;
}

.applications{
  margin: 20px;
  color: #f48;
  text-align: center;
}

.applications a{
  color: #f48;
  text-align: center;
}

.applications img{
  max-width: 100%;
}

.applications p{
  font-size: 12px;
}

.applications .col-md-3 {
    width: 24%;
    margin: 0.5%;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  .navbar-brand{
    margin-top: 0px;
  }
  .applications .col-md-3 {
    width: auto;
  }
  .navbar, .navbar-default, .navbar-fixed-top{
    height: 50px;
  }
  #profile, #applications{
    margin-top:-50px;
    padding-top:50px;
  }
  #site-menu{
    background-color: #f8f8f8;
    font-size: 20px;
  }
}

@media (max-width: 992px) {
   .applications .col-md-3 {
    width: auto;
  }
}
